.bgindex {
  background-position-y: -1px;
  background-image: url("../assets/Group144.png");
  background-size: 100% 1400px;
  background-repeat: no-repeat;
}

.bgnav {
  background-position-y: -1px;
  background-image: url("../assets/Group144.png");
  background-size: 100% 3200px;
  background-repeat: no-repeat;
}

.navBg {
  background: linear-gradient(342.43deg,
      #2776c3 -1.93%,
      rgba(59, 212, 244, 0) 96.89%);
}

#menuLogo {
  width: 80%;
}

.fullscreen {
  height: 100vh;
}

.regisScreen {
  height: 90vh;
}

.pemateriScreen {
  height: 100vh;
}

.list_kelasScreen {
  min-height: 150vh;
}

.jadwalScreen {
  height: 100vh;
}

.kontakScreen {
  height: 80vh;
}

.testiScreen {
  height: 130vh;
}

.footerScreen {
  height: 35vh;
}

.hero_intro {
  font-size: 40px;
  font-weight: bold;
  color: #114578;
}

.headline {
  font-size: 40px;
  font-weight: bold;
  color: #114578;
}

.subheadline {
  font-size: 23px;
}

.ilustrasi {
  width: 100%;
  transform: translateY(-30px);
}

.sideline {
  border-image-source: radial-gradient(#23aae0 10%, rgba(255, 255, 255) 95%);
  border-image-slice: 1;
}

/* .Rectangle1 {
  content: url("../assets/Group\ 148.png");
  width: 300px;
  position: relative;
  top: 30%;
  right: 0;
}
.Rectangle2 {
  content: url("../assets/Group\ 149.png");
  width: 300px;
  position: relative;
  left: 0;
  top: 50%;
}
.Rectangle3 {
  content: url("../assets/Group\ 147.png");
  width: 300px;
  position: relative;
  bottom: 20%;
  right: 0;
} */

.bgPemateri {
  background-image: url("../assets/Group91.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#imgPemateri {
  width: 45%;
  border: 6px solid;
  border-radius: 60%;
  border-color: #c2c2c2;
}

#cardPemateri {
  width: 320px;
  height: 420px;
  background: #e1e5ff;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.nama_pemateri {
  font-size: 20px;
  font-weight: bold;
  color: #114578;
}

.p_kelas {
  font-size: 17px;
  font-weight: bold;
  color: #114578;
}

#kelas_logo {
  width: 70%;
}

.nama_kelas {
  font-size: 30px;
}

.kelas_des {
  font-size: 20px;
}

.bgKuota {
  background-image: url("../assets/Group150.png");
  background-size: 300px 50px;
  text-align: center;
  height: 50px;
  width: 300px;
  background-repeat: no-repeat;
}

.cardInfo {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cardJadwal {
  background-image: url("../assets/Group86.png");
  background-size: 100% 100%;
}

.cardJadwal_content {
  font-size: 18px;
  line-height: 15px;
  color: #114578;
}

.style_li {
  margin: auto;
  list-style-type: none;
  /* padding: 10px 0px 10px 0px;
  list-style: none;
  background-image: url("../assets/Group85.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 25px; */
}

.cardCP {
  /* margin: 100px 0 50px 0; */
  background-image: url("../assets/Group87.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 80%;
  height: 450px;
}

.imgCP {
  border-radius: 50%;
  width: 30%;
  border: 5px solid rgb(211, 206, 206);
  position: relative;
  top: -50%;
}

.kontak {
  position: relative;
  top: -13%;
  font-size: 25px;
  color: #114578;
  line-height: 5.5rem;
}

.iconCP {
  float: left;
  position: relative;
  left: 8%;
  margin-top: 6%;
  width: 10%;
}

.testi_height {
  height: 130vh;
}

.about_doscom {
  font-size: 18px;
  text-align: justify;
  color: #114578;
}

.doscom_logo {
  width: 10%;
}

.sosmed_logo {
  width: 5%;
}

.bgtesti {
  background-image: url("../assets/Group88.png");
  background-size: 100% 65%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

#cardTesti {
  width: 618px;
  height: 286px;
  background: #fcfcfc;
  border-radius: 22px;
  border: none;
}

.kata_testi {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  text-align: center;
  color: #114578;
}

.tester {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #114578;
}

.about {
  font-size: 18px;
  color: #114578;
  color: #114578;
  line-height: normal;
}

.sosmed {
  font-size: 18px;
  color: #114578;
  line-height: normal;
}

.sosmed_text {
  text-align: right;
  font-size: 18px;
  color: #114578;
  line-height: normal;
}

.sosmed_text>p {
  margin: 0;
}

.slick-slide .slick_center {
  transform: scale(1.1);
}

.sideFormIlu {
  width: 100%;
}

/* Efek */
.hidden {
  opacity: 0;
  transform: translateY(-70px);
}

.hiddenCardKelas {
  opacity: 0;
  transform: translateY(50px);
}

.hiddenIllu {
  opacity: 0;
  transform: translateY(-50px);
}

.hiddenJadwal {
  opacity: 0;
  transform: rotate(6deg);
  transform-origin: right;
}

.showUpJadwal {
  opacity: 1;
  transform: rotate(0deg);
  animation: linear;
  transition: 1s;
  transform-origin: right;
}

.hiddenKontak {
  opacity: 0;
  transform: translateX(-50px);
}

.hiddenKontak1 {
  opacity: 0;
  transform: translateX(50px);
}

.showUpIlu {
  opacity: 1;
  animation: linear;
  transform: translate(100px);
  transition: 1.5s;
}

.showUp {
  opacity: 1;
  animation: linear;
  transform: translate(0px);
  transition: 1.5s;
}

/* Mobile */

@media only screen and (max-width: 700px) {
  .bgindex {
    background-image: url("../assets/Group151.png");
    background-size: 100% 700px;
    background-repeat: no-repeat;
  }

  #menuLogo {
    width: 100%;
  }

  #minify {
    width: 50%;
    padding: 0;
  }

  .fullscreen {
    height: 65vh;
  }

  .halfscreen {
    height: 55vh;
  }

  .regisScreen {
    height: 115vh;
  }

  .jadwalScreen {
    height: 100vh;
  }

  .kontakScreen {
    height: 160vh;
  }

  .pemateriScreen {
    height: 120vh;
  }

  .testiScreen {
    height: 110vh;
  }

  .footerScreen {
    height: 30vh;
  }

  .hero_intro {
    font-size: 18px;
    font-weight: bold;
    color: #114578;
  }

  .headline {
    font-size: 30px;
    font-weight: bold;
    color: #114578;
  }

  .subheadline {
    font-size: 12px;
  }

  .ilustrasi {
    width: 100%;
    transform: translateY(100px);
  }

  .sideline {
    border-image-source: radial-gradient(#23aae0 10%, rgba(255, 255, 255) 95%);
    border-image-slice: 1;
  }

  .bgPemateri {
    background-image: url("../assets/Group91.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #imgPemateri {
    width: 50%;
    border: 6px solid;
    border-radius: 60%;
    border-color: #c2c2c2;
  }

  #cardPemateri {
    width: 280px;
    height: 380px;
    background: #e1e5ff;
    border-radius: 20px;
    display: flex;
    align-items: center;
  }

  .nama_pemateri {
    font-size: 18px;
    font-weight: bold;
    color: #114578;
  }

  .p_kelas {
    font-size: 15px;
    font-weight: bold;
    color: #114578;
  }

  #kelas_logo {
    width: 100%;
  }

  .nama_kelas {
    font-size: 20px;
  }

  .kelas_des {
    font-size: 14px;
  }

  .bgKuota {
    background-image: url("../assets/Group150.png");
    background-size: 200px 25px;
    text-align: center;
    height: 25px;
    width: 200px;
    background-repeat: no-repeat;
  }

  .cardInfo {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .infoCard {
    font-size: 14px;
  }

  .cardJadwal {
    background-image: url("../assets/Group86.png");
    background-size: 100% 100%;
  }

  .cardJadwal_content {
    font-size: 12px;
    color: #114578;
  }

  .cardJadwal_content>.col>p {
    margin: 0;
  }

  .style_li {
    /* margin: auto;
    padding: 10px 0px 10px 0px;
    list-style: none;
    background-image: url("../assets/Group85.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px; */
    list-style-type: none;
    font-size: 13px;
  }

  .cardCP {
    /* margin: 100px 0 50px 0; */
    background-image: url("../assets/Group87.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 90%;
    height: 90%;
  }

  .imgCP {
    border-radius: 50%;
    width: 30%;
    border: 5px solid rgb(211, 206, 206);
    position: relative;
    top: -50px;
  }

  .kontak {
    position: relative;
    top: -20px;
    font-size: 20px;
    color: #114578;
    line-height: 5.8rem;
  }

  .iconCP {
    float: left;
    position: relative;
    left: 10%;
    margin-top: 8%;
    width: 10%;
  }

  .testi_height {
    height: 130vh;
  }

  .about_doscom {
    font-size: 18px;
    text-align: justify;
    color: #114578;
  }

  .about_doscom>p {
    margin-bottom: 5px;
  }

  .sosmed_logo {
    width: 10%;
  }

  .about {
    text-align: left;
    font-size: 10.2px;
    color: #114578;
    line-height: normal;
  }

  .sosmed {
    margin-top: 100px;
    text-align: right;
    font-size: 11px;
    color: #114578;
    line-height: 0.5em;
  }

  .sosmed_text {
    text-align: right;
    font-size: 11px;
    color: #114578;
    line-height: 0.1em;
  }

  .sosmed_text>p {
    line-height: normals;
  }

  .bgtesti {
    background-image: url("../assets/Group88.png");
    background-size: 100% 45%;
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  #cardTesti {
    width: 95%;
    height: 180px;
    background: #fcfcfc;
    border-radius: 22px;
    border: none;
  }

  .kata_testi {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    color: #114578;
    margin: 0;
  }

  .tester {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #114578;
  }

  .doscom_logo {
    width: 14%;
  }

  .slick-slide .slick_center {
    transform: scale(1.1);
  }

  .deskripsi_kelas {
    font-size: 80%;
  }

  .sosmed_text>p {
    line-height: normal;
  }

  /* Efek */
  .hiddenKontak {
    opacity: 0;
    transform: translateY(-50px);
  }

  .hiddenKontak1 {
    opacity: 0;
    transform: translateY(50px);
  }
}